<ion-header>
  <ion-navbar color="danger">

    <ion-fab top left>
      <button ion-button clear color="light" (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-fab>

    <ion-title>Main Page</ion-title>
    <ion-fab top right>
      <button ion-button clear color="light">
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-fab>

  </ion-navbar>

  <ion-item color="danger"><h1>{{location}}</h1></ion-item>

  <ion-item color="danger">
    <ion-searchbar (ionInput)="getItems($event)" (ionClear)="getItems('')" placeholder="Search for products, merchants etc." color="danger"></ion-searchbar>
  </ion-item>
</ion-header>

<ion-content padding overflow-scroll="true">
  <ion-fab bottom center>
    <button ion-fab color="danger">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="!loggedIn">
    <pre>
      Sir, please go to the login page first and login.
      Then come back here for the content to show
    </pre>
  </div>
  <div *ngIf="loggedIn">
    <div *ngIf="!inSearch">
      <br>
      <h3>Browse By Categories</h3>

        <ion-scroll scrollX="true" class="cat">
          <ion-row>
            <ion-col *ngFor="let cat of categories">
              <p (click)="viewProducts(cat)">{{cat}}</p> <!-- can be a link to another page containing all products of this category -->
            </ion-col>
          </ion-row>
        </ion-scroll>

        <h2>Featured Items</h2>
        <ion-list>
          <ion-item *ngFor="let prom of items.promotions">
            <ion-thumbnail item-start>
              <img src="{{prom.image}}">
            </ion-thumbnail>
            <h2>{{prom.title}}</h2>
            <p>{{prom.description}}</p>
            <button ion-button clear item-end>Details</button>
          </ion-item>
        </ion-list>

        <h2>Merchants</h2>
        <ion-list>
          <ion-item *ngFor="let merch of items.merchants">
            <ion-thumbnail item-start>
              <img src="{{merch.logo}}">
            </ion-thumbnail>
            <h2>{{merch.name}}</h2>
            <p>{{merch.description}}</p>
            <button ion-button clear item-end>Details</button>
          </ion-item>
        </ion-list>

      </div>


      <div *ngIf="inSearch">
        <ion-list>
          <ion-item *ngFor="let thing of searched">
            <ion-thumbnail item-start>
              <img *ngIf="thing.image" src="{{thing.image}}">
              <img *ngIf="thing.logo" src="{{thing.logo}}">
            </ion-thumbnail>
            <h2 *ngIf="thing.name">{{thing.name}}</h2>
            <h2 *ngIf="thing.title">{{thing.title}}</h2>
            <p>{{thing.description}}</p>
          </ion-item>
        </ion-list>
      </div>
  </div>

</ion-content>