<ion-header>
  <ion-navbar class="navbar" color="danger"> 
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scrolling="no">
  <div *ngIf = "!loggedIn">
    <ion-list>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input [(ngModel)]="email" type="email" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password"  type="password" value=""></ion-input>
      </ion-item>

    </ion-list>
    <div class="row">
      <div class="col">
        <button ion-button outline color= "danger" center (click)="login()" >Sign In</button>
      </div>
   </div>
  </div>
  <div *ngIf="loggedIn">
    
      <pre>
        Sir, You are already logged in.
        Please go to the Main Area.
      </pre>
    
  </div>
</ion-content>
